/* GBG brand font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html,
html body,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "DM Sans", ui-sans-serif, system-ui, sans-serif
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-weight: normal !important;
  color: #007aff !important;
  text-decoration-color: #007aff !important;
  border-color: #007aff;
}
.prose
  :where(a code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  text-decoration-color: #007aff !important;
}
/* .prose :where(a:hover):not(:where([class~=not-prose],[class~=not-prose] *)) {
  border-bottom: 2px solid #007AFF;
} */
